.btn-add {
    background: #5767aa !important;
    color: #fff !important;
}

.btn-add:hover {
    background: #505fbd !important;
}

.weather-list__table {
    background: #5767aa;
    color: #fff;
    border-collapse: collapse;
    border: 3px solid purple;
}

.weather-list__table td,
.weather-list__table th {
    padding: 1rem;
    border: 1px solid purple;
}

.weather-list__table tbody tr:nth-child(odd) {
    background: #576ae2;
}

.weather-list__table-btn > a {
    text-decoration: none;
    text-align: center;
    color: #000;
    font-size: 35px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn-edit > a:hover,
.btn-remove > a:hover {
    color: #000;
}

.page-item {
    cursor: pointer;
}